In [8]:
import numpy as np 
import pandas as pd
import feather
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
chunk_list=[]
chunksize = 10 ** 6
for chunk in pd.read_csv("data/train.csv", chunksize=chunksize):
  chunk['pickup_datetime'] = chunk['pickup_datetime'].str.slice(0, 16)
  chunk['pickup_datetime'] = pd.to_datetime(chunk['pickup_datetime'], utc=True, format='%Y-%m-%d %H:%M')
  chunk_list.append(chunk)
train_df = pd.concat(chunk_list)

In [ ]:
train_df = pd.to_feather('data/train.feather')# converting in feather format
train_df = pd.read_feather('data/train.feather')# reading from feather format
train1_df = train_df[:10000000]

# 1 : Data cleaning

__Dropping Null Values__

In [ ]:
print (train1_df.isnull().sum())# prints the count of null values for each coulmn

In [ ]:
print('Old size: %d' % len(train_df))
train1_df = train1_df.dropna(how = 'any', axis = 'rows')
print('New size: %d' % len(train_df))

In [ ]:
print (train_df.isnull().sum())

__Generating absolute latitude and longitude__

In [ ]:
def abs_lat_long(df):
    df['abs_diff_longitude'] = (df.dropoff_longitude - df.pickup_longitude).abs()
    df['abs_diff_latitude'] = (df.dropoff_latitude - df.pickup_latitude).abs()
    
abs_lat_long(train1_df)

__PLotting the Scatter plot of abs_diff_longitutde and abs_diff_latitude__

In [ ]:
plot=train1_df[:2000].plot.scatter('abs_diff_longitude', 'abs_diff_latitude')

__Removing the outliers__

In [ ]:
#reference : starter code
train1_df = train1_df[(train1_df.abs_diff_longitude < 5.0) & (train1_df.abs_diff_latitude < 5.0)]#removing outliers

__ Limiting the fare amount__

In [ ]:
train1_df= train1_df[train1_df.fare_amount>2]
train1_df= train1_df[train1_df.fare_amount<200]

__Adding Euclidian distance as feature__

In [ ]:
train1_df['distance_travelled'] = (train1_df['abs_diff_longitude'] ** 2 + train1_df['abs_diff_latitude'] ** 2) ** .5

__Setting up Latitude and Longitude Range for ride__

In [ ]:
train1_df = train1_df.loc[train1_df.pickup_longitude < -71]
train1_df = train1_df.loc[train1_df.pickup_longitude > -74.5]
train1_df = train1_df.loc[train1_df.pickup_latitude < 42]
train1_df = train1_df.loc[train1_df.pickup_latitude > 40]

In [18]:
print('Old size: %d' % len(train1_df))
train1_df = train1_df.loc[train1_df.dropoff_longitude < -71]
train1_df = train1_df.loc[train1_df.dropoff_longitude > -74.5]
train1_df = train1_df.loc[train1_df.dropoff_latitude < 42]
train1_df = train1_df.loc[train1_df.dropoff_latitude > 40]
print('new size: %d' % len(train1_df))

Old size: 9999681
new size: 9999055

__Limiting the Number of passengers to 7__

In [4]:
train1_df = train1_df.loc[train1_df.passenger_count > 0]
train1_df = train1_df.loc[train1_df.passenger_count <= 7]

__Adding Speherical distance__

In [13]:
def haversine(long1, lat1, long2, lat2):
    long1, lat1, long2, lat2 = map(np.radians, [long1, lat1, long2, lat2])
    a = np.sin((lat2-lat1)/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin((long2-long1)/2.0)**2
    return 6367 * 2 * np.arcsin(np.sqrt(a)) *0.62137

train1_df['distance_sp'] = haversine(train1_df.pickup_longitude, train1_df.pickup_latitude,train1_df.dropoff_longitude,
                 train1_df.dropoff_latitude)

__Removing the Rows with distance zero__

In [ ]:
train1_df=train1_df[train1_df.distance_travelled!=0]

__Adding date and time features__

In [14]:
def add_datetime_info(dataset):
    dataset['pickup_datetime'] = pd.to_datetime(dataset['pickup_datetime'],format="%Y-%m-%d %H:%M:%S UTC")
    
    dataset['hour'] = dataset.pickup_datetime.dt.hour
    dataset['day'] = dataset.pickup_datetime.dt.day
    dataset['month'] = dataset.pickup_datetime.dt.month
    dataset['weekday'] = dataset.pickup_datetime.dt.weekday
    dataset['year'] = dataset.pickup_datetime.dt.year
    
    return dataset

add_datetime_info(train1_df)

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,abs_diff_longitude,abs_diff_latitude,distance_travelled,hour,day,month,weekday,year,distance_sp
0,4.500000,2009-06-15 17:26:21,-73.844315,40.721317,-73.841614,40.712276,1,0.002701,0.009041,0.009436,17,15,6,0,2009,0.640273
1,16.900000,2010-01-05 16:52:16,-74.016045,40.711304,-73.979271,40.782005,1,0.036774,0.070702,0.079693,16,5,1,1,2010,5.247133
2,5.700000,2011-08-18 00:35:00,-73.982735,40.761269,-73.991241,40.750561,2,0.008507,0.010708,0.013676,0,18,8,3,2011,0.862941
3,7.700000,2012-04-21 04:30:42,-73.987129,40.733143,-73.991570,40.758091,1,0.004440,0.024948,0.025340,4,21,4,5,2012,1.738424
4,5.300000,2010-03-09 07:51:00,-73.968094,40.768009,-73.956657,40.783764,1,0.011436,0.015755,0.019468,7,9,3,1,2010,1.241268
5,12.100000,2011-01-06 09:50:45,-74.000961,40.731628,-73.972893,40.758232,1,0.028069,0.026604,0.038673,9,6,1,3,2011,2.351610
6,7.500000,2012-11-20 20:35:00,-73.980003,40.751663,-73.973801,40.764843,1,0.006203,0.013180,0.014566,20,20,11,1,2012,0.966202
7,16.500000,2012-01-04 17:22:00,-73.951302,40.774139,-73.990097,40.751049,1,0.038795,0.023090,0.045147,17,4,1,2,2012,2.580443
8,9.000000,2012-12-03 13:10:00,-74.006462,40.726711,-73.993080,40.731628,1,0.013382,0.004917,0.014257,13,3,12,0,2012,0.778142
9,8.900000,2009-09-02 01:11:00,-73.980659,40.733871,-73.991539,40.758137,2,0.010880,0.024265,0.026593,1,2,9,2,2009,1.769486
10,5.300000,2012-04-08 07:30:50,-73.996338,40.737141,-73.980721,40.733559,1,0.015617,0.003582,0.016023,7,8,4,6,2012,0.853564
11,4.100000,2009-11-06 01:04:03,-73.991600,40.744713,-73.983078,40.744682,2,0.008522,0.000031,0.008522,1,6,11,4,2009,0.445575
12,7.000000,2013-07-02 19:54:00,-74.005363,40.728867,-74.008911,40.710907,1,0.003548,0.017960,0.018307,19,2,7,1,2013,1.253932
13,7.700000,2011-04-05 17:11:05,-74.001823,40.737549,-73.998062,40.722790,2,0.003761,0.014759,0.015231,17,5,4,1,2011,1.037960
14,12.500000,2014-02-19 07:22:00,-73.986427,40.760464,-73.988991,40.737076,1,0.002563,0.023388,0.023528,7,19,2,2,2014,1.620387
15,5.300000,2009-07-22 16:08:00,-73.981056,40.737690,-73.994179,40.728413,1,0.013123,0.009277,0.016071,16,22,7,2,2009,0.939045
16,5.300000,2010-07-07 14:52:00,-73.969505,40.784843,-73.958733,40.783356,1,0.010773,0.001488,0.010875,14,7,7,2,2010,0.572767
17,4.000000,2014-12-06 20:36:22,-73.979813,40.751904,-73.979446,40.755482,1,0.000366,0.003578,0.003597,20,6,12,5,2014,0.247882
18,10.500000,2010-09-07 13:18:00,-73.985382,40.747856,-73.978378,40.762070,1,0.007004,0.014214,0.015845,13,7,9,1,2010,1.047538
19,11.500000,2013-02-12 12:15:46,-73.957954,40.779251,-73.961250,40.758785,1,0.003296,0.020466,0.020730,12,12,2,1,2013,1.423710
20,4.500000,2009-08-06 18:17:23,-73.991707,40.770504,-73.985458,40.763672,1,0.006248,0.006832,0.009259,18,6,8,3,2009,0.573801
21,4.900000,2010-12-06 12:29:00,-74.000633,40.747475,-73.986671,40.740578,1,0.013962,0.006897,0.015572,12,6,12,0,2010,0.871963
22,6.100000,2009-12-10 15:37:00,-73.969620,40.756973,-73.981155,40.759712,1,0.011536,0.002739,0.011856,15,10,12,3,2009,0.632324
23,7.300000,2011-06-21 16:15:00,-73.991875,40.754436,-73.977226,40.774323,3,0.014648,0.019886,0.024699,16,21,6,1,2011,1.572440
24,4.500000,2011-06-28 19:47:00,-73.988892,40.760159,-73.986443,40.757858,3,0.002449,0.002300,0.003360,19,28,6,1,2011,0.204043
25,9.300000,2012-05-04 06:11:20,-73.989258,40.690834,-74.004135,40.725689,1,0.014877,0.034855,0.037897,6,4,5,4,2012,2.529521
26,4.500000,2013-08-11 00:52:00,-73.981018,40.737759,-73.980667,40.730495,2,0.000351,0.007263,0.007272,0,11,8,6,2013,0.501902
27,5.500000,2014-02-19 16:03:00,-73.976074,40.752422,-73.981079,40.759285,1,0.005005,0.006863,0.008494,16,19,2,2,2014,0.541303
28,22.540001,2015-06-21 21:46:34,-74.010483,40.717667,-73.985771,40.660366,1,0.024712,0.057301,0.062402,21,21,6,6,2015,4.162856
29,31.900000,2009-01-09 16:10:00,-73.873024,40.773884,-73.984543,40.769547,3,0.111519,0.004337,0.111603,16,9,1,4,2009,5.839176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9999025,8.000000,2013-06-11 23:27:00,-73.977547,40.763798,-73.974037,40.755348,1,0.003510,0.008450,0.009149,23,11,6,1,2013,0.611612
9999026,7.500000,2014-01-12 19:41:05,-73.954720,40.777931,-73.954643,40.767239,1,0.000076,0.010693,0.010693,19,12,1,6,2014,0.738337
9999027,7.500000,2014-03-17 22:38:00,-73.970100,40.756390,-73.951927,40.781681,1,0.018173,0.025291,0.031144,22,17,3,0,2014,1.988308
9999028,5.000000,2014-09-13 15:21:52,-73.977997,40.778828,-73.982384,40.771172,3,0.004387,0.007656,0.008824,15,13,9,5,2014,0.576270
9999029,6.500000,2010-05-06 12:55:22,-73.970757,40.757473,-73.959244,40.769096,1,0.011513,0.011623,0.016360,12,6,5,3,2010,1.003331
9999030,6.100000,2011-06-01 18:35:00,-73.972519,40.763081,-73.977394,40.749290,5,0.004875,0.013790,0.014627,18,1,6,2,2011,0.985781
9999031,5.300000,2011-09-12 18:55:56,-73.989822,40.738178,-73.988029,40.749325,1,0.001793,0.011147,0.011290,18,12,9,0,2011,0.775362
9999032,7.000000,2014-02-03 19:10:00,-73.974190,40.762070,-73.958565,40.772694,2,0.015625,0.010624,0.018895,19,3,2,0,2014,1.097955
9999033,3.700000,2011-10-23 15:24:55,-73.955544,40.773731,-73.962105,40.771324,2,0.006561,0.002407,0.006989,15,23,10,6,2011,0.381274
9999034,6.900000,2010-12-30 01:21:07,-73.983612,40.756187,-73.963448,40.774429,1,0.020164,0.018242,0.027191,1,30,12,3,2010,1.642788
9999035,50.000000,2009-04-17 16:59:00,-73.789101,40.646313,-73.987534,40.754948,1,0.198433,0.108635,0.226224,16,17,4,4,2009,12.812832
9999036,10.100000,2010-04-20 18:38:00,-73.961098,40.768330,-73.981232,40.741291,1,0.020134,0.027039,0.033711,18,20,4,1,2010,2.143538
9999037,6.100000,2011-03-16 23:02:00,-73.985268,40.727619,-73.999458,40.725086,1,0.014191,0.002533,0.014415,23,16,3,2,2011,0.763035
9999038,5.300000,2010-07-16 19:15:21,-73.973175,40.754810,-73.982628,40.750717,2,0.009453,0.004093,0.010301,19,16,7,4,2010,0.569591
9999039,4.500000,2011-06-27 12:38:00,-74.008308,40.721851,-74.007118,40.734894,1,0.001190,0.013042,0.013097,12,27,6,0,2011,0.902734
9999040,10.500000,2013-09-03 19:44:31,-73.988976,40.748741,-73.964943,40.772419,1,0.024033,0.023678,0.033737,19,3,9,1,2013,2.062088
9999041,12.500000,2013-11-08 15:39:31,-73.989479,40.747372,-73.972054,40.754028,2,0.017426,0.006657,0.018654,15,8,11,4,2013,1.020747
9999042,24.100000,2011-09-19 19:57:12,-73.983009,40.767696,-73.994362,40.697830,1,0.011353,0.069866,0.070783,19,19,9,0,2011,4.860661
9999043,9.500000,2013-03-19 15:27:00,-73.993477,40.729424,-74.011337,40.709965,1,0.017860,0.019459,0.026413,15,19,3,1,2013,1.636802
9999044,8.900000,2009-01-11 16:44:48,-73.952766,40.786476,-73.982330,40.771626,1,0.029564,0.014851,0.033084,16,11,1,6,2009,1.854807
9999045,5.700000,2009-11-05 01:19:00,-74.002953,40.719967,-74.002060,40.708397,1,0.000893,0.011570,0.011604,1,5,11,3,2009,0.800301
9999046,5.000000,2013-04-26 15:30:00,-73.989777,40.740574,-73.993538,40.742126,4,0.003761,0.001553,0.004069,15,26,4,4,2013,0.224227
9999047,5.700000,2009-09-30 02:02:56,-73.995926,40.767307,-73.985397,40.759682,1,0.010529,0.007626,0.013000,2,30,9,2,2009,0.762022
9999048,11.000000,2013-07-16 19:13:00,-73.971977,40.757805,-74.002708,40.760632,1,0.030731,0.002827,0.030861,19,16,7,1,2013,1.619020
9999049,3.700000,2009-11-05 13:46:23,-73.969994,40.760090,-73.968231,40.755993,1,0.001762,0.004097,0.004460,13,5,11,3,2009,0.297606
9999050,9.700000,2010-10-12 20:09:07,-73.981796,40.749275,-74.006569,40.738018,1,0.024773,0.011257,0.027210,20,12,10,1,2010,1.511193
9999051,13.700000,2011-03-27 22:37:00,-74.005104,40.716030,-73.966049,40.753899,5,0.039055,0.037868,0.054400,22,27,3,6,2011,3.318450
9999052,16.100000,2011-08-26 16:46:00,-73.988213,40.764496,-73.993515,40.724457,2,0.005302,0.040039,0.040389,16,26,8,4,2011,2.778561
9999053,38.000000,2012-10-28 02:27:00,-73.978516,40.745129,-73.868050,40.896263,3,0.110466,0.151134,0.187201,2,28,10,6,2012,11.925828
9999054,8.500000,2014-03-01 23:31:00,-73.987793,40.730972,-74.006668,40.744011,2,0.018875,0.013039,0.022941,23,1,3,5,2014,1.336483

__Saving data to feather file__

In [4]:
feather.write_dataframe(train1_df, 'train1.feather')

# 2 : Correlation

In [5]:
train1_df[['distance_travelled','fare_amount']].corr()

                    distance_travelled  fare_amount
distance_travelled            1.000000     0.844649
fare_amount                   0.844649     1.000000

In [6]:
train1_df[['distance_travelled','hour']].corr()

                    distance_travelled      hour
distance_travelled            1.000000 -0.028343
hour                         -0.028343  1.000000

In [39]:
train1_df[['fare_amount','hour']].corr()

             fare_amount     hour
fare_amount      1.00000 -0.01707
hour            -0.01707  1.00000

# 3 : Visualization

In [23]:
plt.style.use('seaborn-whitegrid')

In [ ]:
train1_df.plot.scatter('fare', 'distance_travelled')

In [25]:
train1_df.plot.scatter('hour', 'distance_travelled')

Using matplotlib backend: Qt5Agg

In [26]:
train1_df.plot.scatter('hour', 'fare_amount')

# 4 : Extra Visualization

In [40]:
# generating a plot of correlation between each pair of features (heat map)
%matplotlib
plt.subplots(figsize=(20,15))
matrix = train1_df.corr()
sns.heatmap(matrix)
plt.xticks(rotation=90)
plt.yticks(rotation=45)

Using matplotlib backend: Qt5Agg

(array([  0.5,   1.5,   2.5,   3.5,   4.5,   5.5,   6.5,   7.5,   8.5,
          9.5,  10.5,  11.5,  12.5,  13.5,  14.5,  15.5]),
 <a list of 16 Text yticklabel objects>)

# 5 : Adding another Feature

In [24]:
from pandas.tseries.holiday import USFederalHolidayCalendar
cal = USFederalHolidayCalendar()
holidays = cal.holidays(start='2009-01-01', end='2015-12-31').to_pydatetime()

train1_df['holiday_or_not'] = train1_df.pickup_datetime.apply(lambda x: 1 if x in holidays else 0)

# Training

In [15]:
test_df = pd.read_csv('data/test.csv',low_memory=True)
test_df['abs_diff_latitude'] = (test_df.dropoff_latitude-test_df.pickup_latitude).abs()
test_df['abs_diff_longitude'] = (test_df.dropoff_longitude-test_df.pickup_longitude).abs()
test_df['distance_sp'] = haversine(test_df.pickup_longitude, test_df.pickup_latitude,test_df.dropoff_longitude,
                 test_df.dropoff_latitude)
test_df['distance_travelled']=(test_df['abs_diff_longitude'] ** 2 + test_df['abs_diff_latitude'] ** 2) ** .5
add_datetime_info(test_df)
test_df_id = list(test_df.pop('key'))

__Linear Regression__

In [41]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
p=lr.fit(train1_df[:10000000][['abs_diff_latitude','abs_diff_longitude','pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude','distance_travelled','passenger_count']], train1_df[:10000000]['fare_amount'])

In [45]:
lr.coef_

array([ -1.67776978e+02,  -1.71950317e+02,  -1.90558491e+01,
         2.55115843e+00,  -8.69581985e+00,  -3.21768951e+00,
         4.16982910e+02,   3.93426120e-02], dtype=float32)

In [13]:
preds_lr = lr.predict(test_df[['abs_diff_latitude','abs_diff_longitude','pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude','distance_travelled','passenger_count']])
sub=pd.DataFrame({'key':test_df_id,'fare_amount':preds_lr})
sub.to_csv('submission.csv',index=False)

__Random Forest__

In [17]:
from sklearn.ensemble import RandomForestRegressor as rf
random_forest = rf(n_estimators = 10, max_depth = 10, max_features = None, oob_score = True, bootstrap = True, verbose = 1, n_jobs = -1)
random_forest.fit(train1_df[:10000000][['pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude','distance_travelled','passenger_count','hour']], train1_df[:10000000]['fare_amount'])

[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:  4.3min finished
C:\Users\Shree\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:720: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=10,
           max_features=None, max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
           oob_score=True, random_state=None, verbose=1, warm_start=False)

In [18]:
preds_lr = random_forest.predict(test_df[['pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude','distance_travelled','passenger_count','hour']])
sub=pd.DataFrame({'key':test_df_id,'fare_amount':preds_lr})
sub.to_csv('submission1.csv',index=False)

[Parallel(n_jobs=4)]: Done  10 out of  10 | elapsed:    0.0s finished